<h1>Editing tutor creation</h1>

<%= render "form", tutor_creation: @tutor_creation %>

<br>

<div>
  <%= link_to "Show this tutor creation", @tutor_creation %> |
  <%= link_to "Back to tutor creations", tutor_creations_path %>
</div>
