<p style="color: green"><%= notice %></p>

<h1>Tutor creations</h1>

<div id ="tutor_creations" class ="row">
  <% @tutor_creations.each do |tutor_creation| %>
  <div class="col-md-4">
    <%= render tutor_creation %>
    <%= link_to "Show this tutor creation", tutor_creation %>
    </div>
  <% end %>
</div>


<%= link_to "New tutor creation", new_tutor_creation_path, class: "btn btn-primary btn-lg btn-block" %>

